body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: black;
}


/* Slides */

.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transform: scale(1.2);
    transition: all 1s ease;
}

.active {
    opacity: 1;
    transform: scale(1);
}


/* Background animation */

.slide::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ff4e50, #fc913a, #f9d423);
    animation: bgMove 10s infinite linear;
    z-index: -1;
}

@keyframes bgMove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}


/* Text */

h1 {
    font-size: 45px;
}

p {
    font-size: 22px;
    max-width: 600px;
}


/* Photo grid */


/* 3 images per row */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 15px;
    padding: 20px;
}

.photo-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}


/* hover effect */

.photo-grid img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/* Floating hearts */

.heart {
    position: absolute;
    color: pink;
    animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}